h1 {
    color: pink;
    background-color: lightcoral;
    /* visibility: hidden; */

}

body {
    background-color: pink;
}

.heading-class {
    background-color: gray;
}
div{
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.content{
    color: red;
    background-color: yellow;
}

.newClass{
    color: white;
    background-color: black;
}